*    {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
	color: #ffffff;
}

body {  
       background color: #ffd6ff;
       font-family: "Palatino Linotype";
        font-size: 14px;
        line-height: 24px;
        margin: 0;
        padding: 20;
        height: 100;
}

aside {
	text-align: right;
    float: right;
    width: 45%;
    margin: 0 0 10px 2%;
}

#wrapper { 
        min-height: 100%;
        position: relative;
            
}
            

header {
	font-family: "Palatino";
	background-color: #ff0066;
        color: #ff0066;
        height: 100px;
        padding: 15px;
}

header h1 { 
        font-size: 65px;
        text-align: left;
        color: #000000;
        font-weight: 500;
        padding: 10px;
}

p {
    font-size: 14px;
    line-height: 24px;
    color: #0000000;
}

footer {
    clear: both;
    font-family: "palatino", sans-serif;
    font-size: 12px;
    padding: 0 10px 0 10px;
    background-color: #ff0066;
    color: #000000;
    height: 30px;
    width: 100%;
    bottom: 0;
        
}
